/* universal */
*{
    margin: 0;
    padding: 0;
}



/* image class */
.image{
    height: 100vh;
    background-image: url(img.webp);
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: polygon(100% 0, 100% 100%, 51% 87%, 0 100%, 0 44%, 0 0);
}

/* navbar id  */

#nav{
    display: flex;
    align-items: center;
}
/* nav styling */
#nav ul{
    display: flex;
}
#nav ul li{
    
    font-size: 1.3rem;
    list-style: none;
    padding: 20px;
}
#nav ul li a{
    
   display: block;
   padding: 34px 100px;
   border-radius: 20px;
   text-decoration: none;
   color: white;

}


/* home section */
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;   
    /* top leftright */
    justify-content: center;
    height: 400px;
    align-items: center;
    
}

/* classes */

.basic{
    font-size: 2.2rem;
    padding: 12px;


}
#home h1{
    color: white;
    text-align: center;
    font-size: 4.2rem;
    padding: 8px;
}

#home h2{
    color: white;
    text-align: center;

}
#home p{
    color: white;
    text-align: center;
    font-size: 1.5rem;
    padding: 16px;
    
}
.btn{
    padding: 10px 20px;
    border: 2px solid white;
    background-color: red;
    color: white;
    margin: 17px;
}
.click{
    padding: 10px 20px;
    border: 2px solid white;
    background-color: rgba(255, 255, 255, 0.562);
    color: black;
    margin: 12px;
}